img{
    width: 100%;
    height: auto;
}
h1{
    color: #ffffff;
    font-weight: bold;
}
p{
    color: #ffffff;
}
a{
    background-color: #199ff4;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
}
a:hover{
    background-color: #199ff4;
    color: #ffffff;
    border: 2px solid #ffffff;
}
