button{
    background-color: #199ff4;
    color: #ffffff;
}
button:hover{
    background-color: #199ff4;
    color: #ffffff;
}
img{
    width: 100%;
    cursor: pointer;
}
h5{
    color: #ffffff;
}
