.navbar .navbar-brand
{
  color: #199ff4;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color: #199ff4;
}



.header{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.7em 4.7%;
  position: absolute;
  top: 0;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
 }
 
 
 .header__h1{
   width: 100%;
   margin: 0 0 0 .3em;
 }
 @media screen and (max-width:960px){
  .header__h1{
    width: 25%;
   }
 
 }
 
 .header__a{
   list-style-type: none;
   text-decoration: none;
    background-image: url(../assets/logo.png);
 }
 
 .header__img{
   width: 100%;
   max-width: 5.3em;
   fill: rgb(229, 9, 20);
  }
 
 .header__nav{
    width: calc(100% - 300px);
 }
 
 @media screen and (max-width:700px){
    .header__nav{
        width: 60%;
  }
        
 }
 
 .header__ul{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;
   list-style-type: none;
 }
 .header__li{
   margin: 0 0 0 1em;
 }
 .header__login{
   padding: .4em 1em;
   border-radius: .2em;
   background-color: #199ff4;
   font-size: 1em;
   list-style-type: none;
   text-decoration: none;
   color: white;
 }
 
 .header__svg{
  width: 1.1em;
  height: 1.1em;
 }
 
 .select{
   height: 2.1em;
   margin: 0 .9em 0 0;
   overflow: hidden;
   border: 1px solid white;
   border-radius: .3em;
   position: relative;
   font-size: .9em;
 }
 
 .select::after{
   content: '▼';
   height: 100%;
   position: absolute;
   top: 0%;
   right: 10%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   color: inherit;
 } 
 
 
  .select::before{
          content: '•';
          height: 100%;
          position: absolute;
          top:0em;
          left: .4em;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          color:inherit;
      }
 
 .select__ul{
      position: relative;
   top: -1em;
   left: -1em;
   list-style-type: none;
 } 
 
 .select__a{
   padding: .5em 1em;
 }
 
 .select__svg{
     width: .8em;
     height: .8em;
     position: relative;
     top: 0.6em;
     margin: -.05em 0 0;
     width: 1em;
     height: 1em;
     margin: -.05em 0 0;
 }
 
 .select__span{
   width: calc(90% - 2em);  
   height: 1.9em;
   position: relative;
   top: -1em;
   left: 0.8em;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   padding: .5em 1.1em .5em 1.5em;
 }
 
  
 .landing{
   width: 100%;
   min-height: 90vh;
    background: url(../assets/background-image.jpg) no-repeat center center / cover scroll;
   display: flex;
   padding: 0 0 5vh;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   position: relative;
 }
 
 @media screen and (min-width:1200px){
   .landing{
       min-height: 80vh;
     }
 }
 @media screen and (min-width:1024px){
     .landing{
         min-height: 90vh;
     }
 }
 @media screen and (max-width:700px){
     .landing{
         font-size: 60%;
         min-height: 80vh;
     }
 }
 
 
 
 
 .landing::after{
   content: '';
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.5);
 }
 
 .landing__h2{
   max-width: 14em;
   margin: 0 0 .3em;
   font-size: 3.2em;
   font-weight: 600;
   line-height: 1.1em;
   position:relative;
   z-index:2;
 }
 @media screen and (max-width:700px){
   .landing__h2{
       max-width: 10em;
       line-height: 1.3em;
     }
 }
 
 .landing__h3{
   margin: 0 0 1.2em;
   font-size: 1.6em;
   position:relative;
   z-index:2;
 }
 
 .landing__p{
   max-width: 40em;
   margin: 0 0 1em;
   font-size: 1.2em;
   position:relative;
   z-index:2;
 }
 
 .landing__form{
   width: 100%;
   max-width: 39em;
   display: flex;
   position:relative;
   z-index: 2;
 }
 @media screen and (max-width:700px){
     .landing__form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
     }
 }
 
 .landing__input{
   width: 60%;
   background-color: #2f2d2d9e;
   padding: .7em 1.4em;
   font-size: 1.5em;
   color: gray;
 }
 .landing__input::placeholder{
   color: lightgray;
 }
 
 @media screen and (max-width:700px){
  .landing__input{
     width:100%;
     margin: 0 0 1em;
     font-size: 1.9em;
  }
 }
 
 .landing__submit{
   width: 40%;
   background-color: #199ff4;
   padding: .7em 1.4em;
   font-size: 1.5em;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   color: white;
 }
 
 @media screen and (max-width:700px){
     .landing__submit{
         font-size: 1.9em;
     }
 }
 
 .footer{
    padding: 8vh 0;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   color: rgba(255, 255, 255, 0.7);
   border-top: 0.5em solid rgba(39, 38, 38, 0.7);
 }
 .footer__center{
   width: 90%;
   max-width: 55em;
  }
 .footer__fila{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
 }
 .footer__p{
    margin: 0 0 1.5em;
    font-size: 1em;
 }
 .footer__ul{
   list-style: none; 
   margin: 0 0 2em;
   font-size: .8em;
 }
 .footer__li{
    margin: 0 0 1.4em;
   }
 .footer__select{
   max-width: 150px;
   margin: 0 0 1em;
 }
 .footer__a{
   list-style-type: none;
    color: rgba(255, 255, 255, 0.7);
 }
 .brand{
   margin: 2.8em 0 0;
   font-size: .8em;
 } 
 
